/************* New Icon Test ***************/
@font-face {
    font-family: 'si';
    src: url('../images/socicon.eot');
    src: url('../images/socicon.eot?#iefix') format('embedded-opentype'),
         url('../images/socicon.woff') format('woff'),
         url('../images/socicon.ttf') format('truetype'),
         url('../images/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(https://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../images/socicon.svg) format(svg);
    }
}

.soc {
    overflow:visible;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;
    margin-right: 10px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #414141;
}


.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin:before {
    content:'\e049';
}
.soc-github:before {
    content:'\e030';
}


/********** Base Rules ************/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v8/X1g_KwGeBV3ajZIXQ9VnDjxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  height: 100vh;
  min-height: 100%;
  margin: 0;
}

a{
  text-decoration: none;
  padding: .8%;
  padding-top: .5%;
}

*:hover,
*:focus,
*:active{
  outline: 0;
}


h1,
h2,
h3,
h4,
p{
  margin: 0;
  font-weight: normal;
}

/********** Layout Rules ************/

.main-nav{
  width: 35%;
  padding-top: 1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: auto;
  height: 8%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer{

  margin-top: -webkit-calc(100vh - 50px);

  margin-top: calc(100vh - 50px);
  width: 100%;
  height: 50px;
}

.grid2x2 {
  -webkit-flex-basis: 85%;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  max-width: 85%;
  margin: 2.5% auto 1% auto;
  min-height: 85vh;
  max-height: 85vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.box  {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 42%;
  -ms-flex-preferred-size: 42%;
  flex-basis: 42%;
  max-width: 42.5%;
  min-height: 40vh;
  max-height: 45%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  /*margin-bottom: 0px;*/
}

.box-content{
  max-height: 100%;
  height: 80%;
}

.box1 > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  padding: 2%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.box3 > div{
  text-align: center;
}




/********** Module Rules ************/
.main-nav{
  text-align: center;
}

.box > a{
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20%;
}

.grid2x2 > .box3,
.grid2x2 > .box4{
  margin-top: 0;
}

.grid2x2 > .box1,
.grid2x2 > .box3{
  margin-bottom: 0;
  margin-right: 0;
}

.grid2x2 > .box2,
.grid2x2 > .box4{
  margin-left: 0;
}

.title-accent{
  width: 50px;
  background-color: #414141;
  height: .5px;
}
/********** Theme Rules ************/

.coloring{
  width: 20%;
  display: block;
}
.footer{
  color: #414141;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer > p{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  padding: 1%;
}

.footer > p:nth-child(2){
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

}

.footer > p > a {
  margin: 20%;
}
.main-nav > p {
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 1px;
  flex: 1;
}

.main-nav > p > a {
  vertical-align: middle;
}


a,
.box1 > .box-content > .box-header,
.tagline,
.mini-tagline {
  color: #414141;
}

.box1 > .box-content > .box-header{
  font-family: 'Droid Serif', serif;
  /*font-size: 12px;*/
  font-weight: 700;
  letter-spacing: -.08rem;

}

.box-header{
  font-family: 'Droid Serif', serif;
  font-size: 1.65em;
  font-weight: 400;

}

.header-pos{
  margin: 0 auto;
  width: 50%;
  text-transform: lowercase;
  font-style:italic;
  color: white;
  /*border: 2px solid lightgrey;*/
}

.box2{
  /*-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
  /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 40%);*/
  background-image: url(blue-bg-2.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.box4{
  background-image: url(blue-bg-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  /*-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
  /*clip-path: polygon(1600px -40%, 1600px 0, 1600px 100%, 0 40%);*/
}

.box3{
  background-image: url(blue-bg-4.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
.tagline{
  font-family: 'Droid Serif', serif;
  font-weight: 300;
  font-size: 2.05em;
  margin: 0 auto 6px auto;
}

.mini-tagline{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 12px;
}

hr{
  display: none;
}

.box-content{

}

.box2,
.box3,
.box4{
  border: 6.5px solid white;
}

.box2{
  margin-bottom: 4px;
}

#box3{
  margin-right: 4px;
  margin-left: auto;
}

.icons{
  width: 100%;
  max-height: 100%;
  padding-left: 74%;
  margin-top: 2.5%;
}

.icons > a{
  padding: 7%;
  max-height: 96%;
  max-width: 45%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  margin-bottom: 4px;
}


/********** State Rules ************/

.main-nav > p > a:hover,
.main-nav > p > a:focus,
.main-nav > p > a:active {
    color: #0094FF;
}
.js-font-change{
  -webkit-transition-duration: 10s;
  transition-duration: 10s;
  font-weight: 200;
  text-transform: lowercase;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  color: #0094FF;
  transform-origin: right;
  /*letter-spacing: 4px;*/
}

.js-hover-content{
  background-color: white;
  transition-duration: .3s;
}

.js-add-projAccent:before{
  content: "{";
  padding-right: 16px;
  font-size: 2em;
  font-weight: 400;
  display: inline-flex;
  margin-top: -45%;
  vertical-align: sub;
  font-family: 'Droid Serif', serif;
  color: #5499C7;
  transition-duration: 2.9s;
  transform-origin: left;
}

.js-add-projAccent:after{
  content: "}";
  padding-left: 10px;
  font-size: 2em;
  font-weight: 400;
  display: inline-flex;
  margin-top: -45%;
  vertical-align: sub;
  font-family: 'Droid Serif', serif;
  color: #5499C7;
  transition-duration: 2.9s;
  transform-origin: right ;
}

.js-add-skillAccent:before{
  content: "<";
  padding-right: 16px;
  font-size: 2em;
  font-weight: 400;
  display: inline-flex;
  margin-top: -46%;
  vertical-align: sub;
  font-family: 'Droid Serif', serif;
  color: #5499C7;
  transition-duration: 2.9s;
  transform-origin: left;
}

.js-add-skillAccent:after{
  content: "/>";
  padding-left: 10px;
  font-size: 2em;
  font-weight: 400;
  display: inline-flex;
  margin-top: -46%;
  vertical-align: sub;
  font-family: 'Droid Serif', serif;
  color: #5499C7;
  transition-duration: 2.9s;
  transform-origin: right ;
}

.js-add-resAccent:before{
  content: "[";
  padding-right: 16px;
  font-size: 2em;
  font-weight: 400;
  display: inline-flex;
  margin-top: -45%;
  vertical-align: sub;
  font-family: 'Droid Serif', serif;
  color: #5499C7;
  transition-duration: 2.9s;
  transform-origin: left;
}

.js-add-resAccent:after{
  content: "]";
  padding-left: 10px;
  font-size: 2em;
  font-weight: 400;
  display: inline-flex;
  margin-top: -45%;
  vertical-align: sub;
  font-family: 'Droid Serif', serif;
  color: #5499C7;
  transition-duration: 2.9s;
  transform-origin: right ;
}

.js-hover-icon{
  opacity: .4;
}


.js-font{
  /*font-weight: 900;*/
  margin-top: -1%;
  transition-duration: 3s;
}

.js-hide-border{
  border: 6px solid white;
}

.main-nav{
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}
.box-header{
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

@media only screen and (min-width: 320px) and (max-width: 640px){

    #headline{
      font-size: 2.2em;
    }

    .tagline{
      font-size: 1.06em;
      margin-top: 8px;
      width: 100%;
      margin-right: 0;
    }

    .mini-tagline{
      font-size: 1em;
    }

    .box-header{
      font-size: 1.3em;
    }

    #proj-head{
      margin-top: -30%;
    }

    .grid2x2 {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-top: 1%;
    }
    .grid2x2 > .box{
      -webkit-flex-basis: 95%;
      -ms-flex-preferred-size: 95%;
      flex-basis: 95%;
      max-width: 95%;
      max-height: 80vh;
      height: 70vh;
      /*min-height: 80vh;*/
      flex-wrap: wrap;
      margin: 0 auto;
    }

    .box {
      border-style: none;
      /*border-bottom: 2px solid #414141;*/
      background-size: cover;
      background-repeat: no-repeat;
      height: 30vh;
    }

    .grid2x2 > .box1{
      max-height: 40vh;
      height: 20%;

    }
    .grid2x2 > .box1 > .box-content{
      height: 90%;
    }

    .box4{
      background-position: bottom center;
    }

    .box3{
      background-position: top center;
    }

    .box-content{
      /*max-height: 90%;*/
      /*height: 35vh;*/
      width: 100%;
      margin: auto;
      height: 20vh;
      background-size: contain;
    }

    .box2 > a > .box-content,
    .box3 > a > .box-content,
    .box4 > a > .box-content{
      margin-top: 35%;
      margin-bottom: 35%;
    }

    .soc li a{
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      margin-top: 10px;
    }

    .main-nav{
      font-size: .8em;
      width: 90%;
      flex: 1;
      margin-bottom: 4%;
    }

}

@media only screen and (min-width: 641px) and (max-width: 1024px){

    .grid2x2{
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-top: 2%;
      height: 90vh;
    }

    .grid2x2 > .box{
      -webkit-flex-basis: 49%;
      -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
      max-width: 49%;
      height: 40%;
      min-height: 40vh;
      /*align-content: center;*/
    }

    #headline{
      font-size: 2.8em;
    }

    .box1{
      vertical-align: top;

    }

    .tagline{
      font-size: 1.2em;
    }

    .mini-tagline{
      font-size: .97em;
    }

    .box-header{
      font-size: 1.3em;
      margin: 0;
      align-self: center;
      width: 100%;
    }

    #skill-head,
    #res-head{
      margin-top: 40px;
    }


    .box-content{
      justify-content: center;
      align-items: center;
      vertical-align: middle;
    }

    .box1 > .box-content {
      height: 50%;
      margin-top: -20%;

    }

    .box4{
      background-position: center left;
      background-image: url(blue-bg.png);
    }

    .box3{
      background-position: bottom right;
      background-image: url(blue-bg-5.png);
    }

    .box2{

      background-image: url(blue-bg-4.png);
      background-position: bottom left;
    }

    .main-nav{
      width: 80%;
      font-size: 1em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1165px){
  .box-header{
    font-size: 1.65em;
  }

  #headline{
    font-size: 3.01em;
  }
  .tagline{
    font-size: 1.65em;
  }
}

@media screen and (min-width: 1166px) {
    .grid2x2{
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      width: 80%;
      margin: 1.2% auto;
      margin-top: 4%;
    }

    .grid2x2 > .box{
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      width: 50%;
      height: 42.5vh;
      min-height: 40vh;
    }

    .icons > a{
      max-width: 42%;
    }

    #headline{
      font-size: 2.9em;
    }

    .tagline{
      font-size: 1.3em;
      width: 95%;
      margin-left: 0;
      margin-top: -8%;
    }

    .mini-tagline{
      font-size: 1.1em;
    }

    #res-head,
    #skill-head{
      margin-top: 45px;
    }

    .box4{
      background-position: bottom left;
      background-image: url(blue-bg-1.png);
    }

    .box3{
      background-position: center right;
      background-image: url(blue-bg-3.png);
    }

    .box2{
      background-image: url(blue-bg-2.png);
      background-position: center center;
    }

}
