/********** Base Rules ************/
a{
  text-decoration: none;
  color: #414141;
}

*:hover,
*:focus,
*:active{
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
h1{
  width: 100%;
  margin: 1.4% 0px 2% 0px;
  padding-left: 20%;
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v8/X1g_KwGeBV3ajZIXQ9VnDjxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/********** Layout Rules ************/

.main-nav{
  width: 80%;
  padding-top: .7%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 auto;
}

.project-btn > p{
  display: none;
  outline: 0;
}
.display-container1,
.display-container2,
.display-container1 > button,
.display-container2 > button{
  /*max-width: 0;
  visibility: hidden;
  height: 0;*/
  display: none;
}

.content{
  max-width: 60%;
  margin: 10px auto;
  height: 50vh;
}

.display-container1,
.display-container2{
  position: relative;
  height: 600px;
}

img{
  margin-bottom: -5px;
  margin: 0 auto;
  max-height: 100%;
  height: 90%;
}

.display-left{
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.display-right{
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.project-btn > span{
  display: inline-block;
  padding: 10px;
  vertical-align: bottom;
}

.projects{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.projects > .src-code-link{
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.project-btn{
  width: 25%;
  max-height: 120px;
  padding: 1.8%;
  margin: 0 auto;
  display: block;
}

.project-desc{
  width: 60%;
  margin: 0 auto;
}

/********** Theme Rules ************/

.display-container1,
.display-container2{
  -webkit-box-shadow: 0 6px 6px rgba(0,0,0,.4);
  box-shadow: 0 6px 6px rgba(0,0,0,.4);
}

.main-nav > a {
  font-family: 'Raleway', sans-serif;
  font-size: .95em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 4px;
  padding: 1%;
  min-height: 22px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-header{
  font-family:'Abril Fatface', cursive;
  letter-spacing: 1px;
  font-size: 3em;
  color: #414141;
  border-bottom: .5px solid #414141;
}

.project-desc{
  font-family: 'Raleway', sans-serif;
}

.desc-header{
  font-size: 2em;
  font-weight: 300;
}
.project-btn{
  background-color: #414141;
  color: white;
  border-style: none;
  font-size: 2.6em;
  font-family:'Abril Fatface', cursive;
  font-weight: 300;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.project-feat,
.project-objective{
  color: #606060;
  font-weight: 300;
}

.project-objective{
  line-height: 1.5em;
}
.project-btn > span{
  font-family: 'Raleway', sans-serif;
  font-size: 14.5px;
}

.src-code-link{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.src-code-link > a{
  color: #2980B9;
  padding: .5%;
}

.feat-list{
  list-style: none;
}

.feat-item{
  padding: 6px;
}

.feat-check{
  color: #2980B9;
  font-weight: bold;
  font-size: 1.5em;
  padding: 2px;
}
.displayBtn{
  background-color: rgba(9,9,9,.2);
  border-style: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

/********** State Rules ************/

.project-objective,
.project-feat{
  display:none;
}

.src-code-link > a:hover{
  background-color: #2980B9;
  color: white;
}

.displayBtn:hover,
.displayBtn:active,
.displayBtn:visited,
.displayBtn:focus,
.src-code-link > a:hover{
  outline: 0;
}

.main-nav{
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

.js-show-imgs{
  visibility: visible;
  position: relative;
  height: 600px;
}

.js-hover-nav{
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.5);
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
}


@media only screen and (min-width: 320px) and (max-width: 640px){
  .project-desc{
    width: 80%;
  }

  .projects{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 100%;

  }
  .project-btn{
    font-size: 1.5em;
    font-family:'Abril Fatface', cursive;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    width: 90%;
    margin: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .src-code-link{
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .project-btn > span{
    font-size: 12.5px;
  }

  .project-btn > p {
    font-family: 'Raleway', sans-serif;
    font-size: 12.8px;
    margin: 0 auto;
    display: block;
  }
  .project-btn > p > a{
    color: lightblue;
  }

  .content{
    max-width: 99%;
    margin: 5px auto;
    height: 32vh;
  }
  .project-objective,
  .project-feat{
    font-size: .7em;
  }

  .project-objective > p,
  .project-feat > ul > li {
    font-size: 1.2em;
  }

  .project-feat > ul{
    width: 100%;
    padding: .5%;
    margin: 0 auto;
  }

  .main-header{
    font-size: 2em;
  }

  .main-nav{
    min-height: 8vh;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
    font-size: .8em;
  }

  .desc-header{
    font-size: 1.6em;
  }

  .content > img{
    align-items: center;
    align-content: center;
  }

  .content > button{
    font-size: 1em;
  }


}
@media only screen and (min-width: 768px) and (max-width: 1280px){
  .project-desc{
    width: 65%;
  }

  .projects{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 100%;

  }
  .project-btn{
    font-size: 2.4em;
    font-family:'Abril Fatface', cursive;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    width: 90%;
    margin: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .src-code-link{
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .project-btn > span{
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
  }

  .project-btn > p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    display: block;
  }
  .project-btn > p > a{
    color: lightblue;
  }

  .main-header{
    font-size: 2.8em;
  }

  .project-objective,
  .project-feat{
    font-size: .85em;
  }

  .project-objective > p,
  .project-feat > ul > li {
    font-size: 1.3em;
  }

  .project-feat > ul{
    width: 100%;
    padding: .5%;
    margin: 0 auto;
  }

  .content{
    max-width: 100%;
    margin: 4px auto;

    height: 45%;
    max-height: 70vh;
  }

  .main-nav{
    min-height: 8vh;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
    font-size: .9em;
  }

}
/*@media only screen and (min-width: 851px) and (max-width: 999px){
  .project-desc{
    width: 70%;
  }
  .project-btn{
    font-size: 2em;
    font-family:'Abril Fatface', cursive;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    width: 40%;
  }

  .project-btn > span{
    font-size: 13px;
  }

  .content{
    max-width: 95%;
    margin: 5px auto;
    height: 64vh;
  }
  .project-objective,
  .project-feat{
    font-size: .9em;
  }

  .main-header{
    font-size: 2.2em;
  }

  .main-nav > a {
    font-size: .8em;
    margin-top: 4px;
  }

}*/

@media only screen and (min-width: 1000px) and (max-width: 1400px){

  .project-btn{
    font-size: 2em;
    font-family:'Abril Fatface', cursive;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    width: 40%;
  }

  .project-btn > span{
    font-size: 13px;
  }

  .content{
    max-width: 90%;
    margin: 5px auto;
  }

}

@media only screen and (min-width: 1401px) and (max-width: 1768px){
  .project-btn{
    font-size: 2em;
    font-family:'Abril Fatface', cursive;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    width: 40%;
  }

  .project-btn > span{
    font-size: 13px;
  }

  .content{
    max-width: 80%;
    margin: 5px auto;
  }

}
