/********** Base Rules ************/
a{
  text-decoration: none;
  color: #414141;
}

*:hover,
*:focus,
*:active{
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p { font-weight : normal;  }
h1{
  width: 100%;
  margin: 1.4% 0px 2% 0px;
  padding-left: 20%;
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(https://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(https://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}*/
/********** Layout Rules ************/

.scode-icon{
  float: left;
  padding-right: 2%;
}

#sc-link{
  color: #81FCC3;
  margin: auto auto 10px auto;
  font-family: 'Quicksand', sans-serif;
  width: 35%;
  display: inline-block;
}


.display-container1,
.display-container2,
.display-container1 > button,
.display-container2 > button{
  /*max-width: 0;
  visibility: hidden;
  height: 0;*/
  display: none;
}

.content{
  max-width: 60%;
  margin: 10px auto;
  height: 50vh;
}

.display-container1,
.display-container2{
  position: relative;
  height: 600px;
}

img{
  margin-bottom: -5px;
  margin: 0 auto;
  max-height: 100%;
  height: 90%;
}

.display-left{
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.display-right{
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}


.project-btn > span{
  display: inline-block;
  padding-top: 16px;
  vertical-align: bottom;
  margin-bottom: 6%;
}

.project-btn > h4{
  margin-top: 2%;
}

.project-btn > p{
  padding: 10px;
  float: left;
  width: 38%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
  /*display: none;*/
  outline: 0;
}


.projects{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/*.scode-icon{ margin-right: -14px;}*/

.projects > .src-code-link{
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.project-btn{
  width: 26%;
  /*max-height: 120px;*/
  padding: 1.5%;
  margin: 0 auto;
  display: block;
}

.project-desc{
  width: 60%;
  margin: 0 auto;
}

/********** Theme Rules ************/

.display-container1,
.display-container2{
  -webkit-box-shadow: 0 6px 6px rgba(0,0,0,.4);
  box-shadow: 0 6px 6px rgba(0,0,0,.4);
}


.main-header{
  font-family:'Droid Serif', serif;
  letter-spacing: 1px;
  font-size: 3em;
  font-weight: 700;
  color: #414141;
  border-bottom: .5px solid #414141;
}

.project-desc{
  ffont-family: 'Quicksand', sans-serif;
}

.desc-header{
  font-size: 1.9em;
  font-weight: 500;
  margin-bottom: 2%;

}
.project-btn{
  background-color: #0094FF;
  color: white;
  border-style: none;
  font-size: 2.6em;
  font-family:'Droid Serif', serif;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.project-feat,
.project-objective{
  color: #414141;
  font-weight: 300;
}

.project-feat{
  margin-bottom: 4%;
}

.project-objective{
  line-height: 1.5em;

}

.project-objective,
.project-feat{
  font-size: .8em;
  margin-top: 3em;
}
.project-btn > span{
  font-family: 'Quicksand', sans-serif;
  font-size: 14.5px;
}

.src-code-link{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.src-code-link > a{
  /*color: #2980B9;*/
  color: #003154;
  padding: .5%;
}

.feat-list{
  list-style: none;
}

.feat-item{
  padding: 6px;
}

.feat-check{
  color: #2980B9;
  font-weight: bold;
  font-size: 1.5em;
  padding: 2px;
}
.displayBtn{
  background-color: rgba(9,9,9,.2);
  border-style: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

/********** State Rules ************/


.project-objective,
.project-feat{
  display:none;
}

.src-code-link > a:hover{
  background-color: #2980B9;
  color: white;
}

.displayBtn:hover,
.displayBtn:active,
.displayBtn:visited,
.displayBtn:focus,
.src-code-link > a:hover{
  outline: 0;
}

.main-nav{
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

.js-show-imgs{
  visibility: visible;
  position: relative;
  height: 600px;
}

.js-hover-nav{
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.5);
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
}


@media only screen and (min-width: 320px) and (max-width: 640px){
  .project-desc{
    width: 80%;
  }

  .main-header{
    font-size: 1.5em;
    margin-top: 4%;
    padding-bottom: 6px;
    margin-left: 0;
  }

  .projects{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 100%;

  }
  .project-btn{
    font-size: 1.3em;
    font-family:'Droid Serif', serif;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    width: 95%;
    margin: 10px;
    margin-top: 18px;
  }

  .project-btn > h4{
    margin: 0;
    padding-top: 5%;
    font-size: 1.1em;
  }

  .src-code-link{
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .project-btn > span{
    font-size: 14px;
    display: block;
    /*padding-top: 8%;*/
  }

  .project-btn > p {
    font-size: 12px;
    width: 40%;
    display: inline-flex;
    max-height: 50px;
    /*height: 35px;*/
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: center;

  }

  #sc-link > img{
    width: 20px;
  }

  #sc-link{
    width: 100%;
  }

  .content{
    max-width: 99%;
    margin: 5px auto;
    height: 32vh;
  }
  .project-objective,
  .project-feat{
    font-size: .75em;
    margin-top: 10px;
  }

  .project-feat > ul{
    width: 100%;
    padding: .5%;
    margin: 0 auto;
  }


  .desc-header{
    font-size: 1.4em;
  }

  .content{
    height: 40vh;
  }

  .content > img{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);

  }

  .content > button{
    font-size: 1em;
  }


}
@media only screen and (min-width: 768px) and (max-width: 1280px){
  .project-desc{
    width: 65%;
  }

  .projects{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 100%;

  }
  .project-btn{
    font-size: 2.4em;
    font-family:'Droid Serif', serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    width: 60%;
    height: 100%;
    margin: 10px;
  }

  .project-btn > h4{
    margin-top: 10px;
  }

  .src-code-link{
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .project-btn > span{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
  }

  .project-btn > p{
    ffont-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 35%;
    max-height: 50px;
    height: 35px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  #sc-link{
    font-size: 14px;
    width: 100%;

  }
  /*.project-btn > p > a{
    color: #81FCC3;
  }*/

  .main-header{
    font-size: 2.5em;
    padding-bottom: 1%;
  }

  .project-objective,
  .project-feat{
    font-size: .8em;
  }

  .project-objective > p,
  .project-feat > ul > li {
    font-size: 1.3em;
  }

  .project-feat > ul{
    width: 100%;
    padding: .5%;
    margin: 0 auto;
  }

  .content{
    max-width: 100%;
    margin: 4px auto;

    height: 45%;
    max-height: 70vh;
  }

}

@media only screen and (min-width: 1281px){
  .src-code-link{
    width: 0;
    height: 0;
    visibility: hidden;
  }


  .main-header{
    padding-bottom: 1%;
    padding-top: 2.5%;
  }
  .project-btn > span{
    font-size: 16px;
    display: block;
    /*margin-bottom: 8%;*/
  }

  .project-btn > p{
    width: 35%;
    max-height: 50px;
    height: 35px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  #sc-link{
    font-size: 14px;
    width: 100%;

  }

  .project-objective,
  .project-feat{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
  }
}
